.signup {
  text-align: center;
}

.Signup_title {
  font-weight: bold;
}

.Signup_input_email {
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.Signup_input_password {
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.Signup_input_passwordConfirm {
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.Signup_input_username {
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.feedback {
  font-weight: lighter;
  font-style: italic;
  font-size: 10pt;
  color: red;
}

div.Signup_frame {
  margin: 40px;
}

span.Signup_button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 5px;
}
